
<div ng-show="reviewresults.length > 0 && imageresults.length > 0" class="fade-in"> 
<div class="container-fluid">
	<div class="row">

	  <div class="col-md-7"> 

			<div class="row">    

				 <div class="col-md-7">
					
					<%= render partial: 'reviewbox' %>
				 
				 </div>
				 <div class="col-md-5">
					
					<%= render partial: 'restaurant' %>
										
				 </div>
			</div>
	  </div>	


	  <div class="col-md-5">       
	
		<div class="row" style="margin-bottom: -25px">	
			<div class="col-md-6">

				<%= render partial: 'map' %>
			
			</div>
			<div class="col-md-6">
				<img src="{{main_image_url}}" class="main-image">
			</div>
		</div>

		<br>
		<br>

		<div class="row">
			<div class="col-md-12">

				<%= render partial: 'instagram' %>
			
			</div>
		</div>


		</div>

		

	</div>

	<br>

	<div class="row">
		
		<div class="col-md-5">  

			<%= render partial: 'toprestaurants' %>

		</div>	


		<div class="col-md-7"> 

			<%= render partial: 'critics' %>
								
	     </div>
	<!-- End Row -->
	</div>

<!-- End Container -->
</div>
<footer></footer>
</div>

