
<div ng-show="reviewresults.length > 0 && imageresults.length > 0" class="fade-in"> 
<div class="container-fluid">
	<div class="row">

	  <div class="col-md-4"> 

				<div class="row">    

					 <div class="col-md-12">
						
						<%= render partial: 'reviewbox' %>
					 
					 </div>
				</div>
	  </div>	


	  <div class="col-md-8">       
	
				<div class="row">	
					
						 <div class="col-md-4">
							
							<%= render partial: 'restaurant' %>
												
						 </div>

						<div class="col-md-4">

							<%= render partial: 'map' %>
						
						</div>

					<div class="col-md-4 main-image-bootstrap">
						<a href="{{imageLink}}" target="_blank">
						<div class="main-image-container">
							<p class="inner-photo"><img style="width:20%; border-radius:3px" src="{{userPic}}">
								<span style="padding-left:4px">{{userName}}</span>
							</p>
							<img src="{{main_image_url}}" class="main-image">
							<p class="inner-text">{{imageText}}</p>
						</div>
						</a>
							<br>

							<div class="row">
								<div class="col-md-12">

									<%= render partial: 'instagram' %>
								
								</div>
							</div>



					</div>			
				</div>



	</div>

		

	</div>

	<br>

	<div class="row">
		
		<div class="col-md-4">  

			<%= render partial: 'toprestaurants' %>

		</div>	


		<div class="col-md-8"> 

			<br>
			<%= render partial: 'critics' %>
								
	     </div>
	<!-- End Row -->
	</div>


<!-- End Container -->
</div>
<!-- Map Modal -->
<div class="map">
<div class="modal" id="map" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      	  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      	<h3 class="bold">{{google.name}}</h3>
      	<address>
			{{google.address_components[0].long_name}} {{google.address_components[1].long_name}}<br>
			{{google.address_components[2].long_name}}, {{google.address_components[3].short_name}} {{google.address_components[5].long_name}}<br>
		</address>
      </div>
      <div class="modal-body">
			 <ui-gmap-google-map center='map.center' zoom='map.zoom'>
			 <ui-gmap-marker coords="marker.coords" idkey="marker.id">
			</ui-gmap-marker>
			</ui-gmap-google-map>
      </div>
    </div>
  </div>
</div>
</div>
<footer></footer>
</div>

