<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>CrackerJack</title>
  <meta name="viewport" content="width=device-width">
  <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?libraries=places&sensor=false' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='//fonts.googleapis.com/css?family=Raleway:800,400,200' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
<div ng-controller="searchController">

<%= render partial: "layouts/nav" %>	

<%= yield %>

</div>

</body>
</html>
