<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>CrackerJack</title>
  <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?libraries=places&sensor=false' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Raleway:800,400,200' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
<div ng-controller="searchController">

<%= render partial: "layouts/nav" %>	

<div ng-show="reviewresults.length < 0 && imageresults.length < 0">
<span us-spinner="{radius:19, width:30, length:0, corners:0.1, color:'white', lines:17}" spinner-key="spinner-1"></span>
</div>

<%= yield %>

</div>
<div class="background-image-main" class="fade-out">
<div class="dark-background">
<!-- Start About Modal -->
<div class="modal" id="about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title bold-red" id="myModalLabel">About Crackerjack</h4>
      </div>
      <div class="modal-body">
		   <p>Crackerjack is a web application built with the intention of creating a “Rotten Tomatoes” style ranking system for restaurants. It uses the Nokogiri gem and Readability Parser API to scrape Google search results for restaurant reviews, and the Alchemy Sentiment Analysis API to analyze results for positive or negative content.</p>

			<p>With each restaurant search, results for relevant publications and blog reviews are scraped from Google search pages using a custom Ruby scraper. The scraper was created specifically for this project using Nokogiri combined with the Readability Parser API to break the article into title, content, author, etc.</p>

			<p>Article content is passed through the Alchemy Language API which analyzes the text and returns a postive or negative "Sentiment Analysis," which is calculated together to give it a total scores, which is compared against the Google Places and Yelp restaurant ratings.</p>
      </div>
    </div>
  </div>
</div>
<!-- End About Modal  -->
<!-- Start Contact Modal -->
<div class="modal" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title bold-red" id="myModalLabel">Contact</h4>
      </div>
      <div class="modal-body">
        		<p>Instaview was produced by Greg Rock</a> as part of <a href="https://generalassemb.ly/education/web-development-immersive" target="_blank">General Assembly's Web Development Immersive program</a>. Learn more about the project and the technologies used at the <a href="https://github.com/grock006/Instaview" target="_blank">project's Github page</a>.</p>
            <br>
        	<div class="text-center">
				<a href="mailto:grock006@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
				<a href="https://github.com/grock006" target="_blank" style="padding: 0 10px;"><i class="fa fa-github fa-2x"></i></a>
				<a href="https://www.linkedin.com/in/gregrock1" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
			</div>
      </div>
    </div>
  </div>
</div>
<!-- End Contact Modal  -->
</div>
</div>

</body>
</html>
